<style>
    @keyframes scroll {
        0% {
            background-position-x: right;
        }
        50% {
            background-position-x: left;
        }
        100% {
            background-position-x: right;
        }
    }
    div.__container__ {
        position: relative;
        width: 100vw;
        height: calc(100vh - 120px - 64px);
        padding: 20px 0;
        animation: scroll 30s linear infinite;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    div.__container__ img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding-right: 10px;
    }


    div.__page__ {
        position: relative;
        width: 100%;
        height: 100%;
    }
    div.__overlay__ {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 15px;
        
        color: white;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.__overlay__ img {
        height: 33%;
        object-fit: contain;
    }
    div.__overlay__ div.__address__ {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 0 0px 50px black;
    }
</style>

<div class="__page__">
    <div class="__container__">
        {% for i in range(12) %}
            <img src="{{ url_for('static', filename='images/champions_sports_bar_ad.png') }}">
        {% endfor %}
    </div>
</div>