<style>
    .state-farm.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.state-farm .banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background: white;
  border-bottom: 5px solid red;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.state-farm .banner img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}

.state-farm .row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 20%;
  padding: 10px;
  gap: 5%;
  row-gap: 0;
  align-items: center;
  margin: auto;
}

.state-farm .row-1-col-1 {
  display: flex;
  flex-direction: column;
}

.state-farm .profile-image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: 20px double white;
  background-image: url("static/maria_capetillo.png");
  background-size: 100%;
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
  overflow: hidden;
  margin: auto;
}
.state-farm .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateX(0px) scale(1.15);
}
.state-farm .caption-text {
  width: 100%;
  text-align: center;
  letter-spacing: normal;
}

.state-farm .caption-text h2 {
  font-weight: 900;
  flex-shrink: 1;
}

.state-farm .caption-text p {
  font-size: 1rem;
  font-weight: 900;
  font-style: italic;
  color: red;
}

.state-farm .row-1-col-2 {
  font-weight: 900;
  flex-grow: 1;
  flex-shrink: 1;
}

.state-farm .row-1-col-2 h2 {
  font-weight: 900;
  flex-grow: 1;
  flex-shrink: 1;
}

.state-farm .row-1-col-2 h1 {
  font-weight: 900;
  flex-grow: 1;
  flex-shrink: 1;
}

.state-farm .row-2 {
  width: 100%;
}


.social-media img {
  width: 64px;
  height: 64px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(0.75);

}

.social-media img:hover {
  transform: scale(1);
}

.social-media #x {
  background-color: white;
  border-radius: 50%;
}

.state-farm .social-media {
  justify-self: end;
  padding-top: 2em;
}

.phone {
  text-decoration: none;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  
}

a.phone:hover {
  font-size: 4rem;
  color: red;
}
</style>

<div class="state-farm layout">
    <div class="banner">
      <img src="{{ url_for('static', filename='images/state_farm.svg') }}">
    </div>
    <div class="row-1">
      <div class="row-1-col-1">
        <div class="profile-image">
          <img src="{{ url_for('static', filename='images/maria_capetillo.png') }}">
        </div>
        <div class="caption-text">
          <h2>Maria Capetillo</h2>
          <p>State Farm Insurance Agent</p>
        </div>
      </div>
      <div class="row-1-col-2">
        <h2>Auto. Home. Condo. Renters. Personal Articles. Business. Life. Health. Pet.</h2>
        <h1><a class="phone" href="tel:8154070954">Call 815-407-0954</a></h1>
        <div class="social-media">
          <a href="https://mariacapetillo.com/" target="_blank"><img src="{{ url_for('static', filename='images/state_farm_symbol.svg') }}"></a>
          <a href="https://www.facebook.com/111007972296450" target="_blank"><img src="{{ url_for('static', filename='images/facebook.svg') }}"></a> 
          <a href="https://www.linkedin.com/in/maria-capetillo-6b684127" target="_blank"><img src="{{ url_for('static', filename='images/linkedin.svg') }}"></a>
          <a href="https://www.instagram.com/maria.capetillo.insurance/" target="_blank"><img src="{{ url_for('static', filename='images/instagram.svg') }}"></a>
          <a href="https://www.yelp.com/biz/maria-capetillo-state-farm-insurance-agent-romeoville" target="_blank"><img src="{{ url_for('static', filename='images/yelp.svg') }}"></a>
          <a href="https://www.google.com/search?hl=en-US&gl=us&q=Maria+Capetillo+-+State+Farm+Insurance+Agent,+452+Weber+Rd+A,+Romeoville,+IL+60446" target="_blank"><img src="{{ url_for('static', filename='images/google.svg') }}"></a>
          <a href="https://www.youtube.com/@goprosportsacademy1826" target="_blank"><img src="{{ url_for('static', filename='images/youtube.png') }}"></a>
        </div>
      </div>
    </div>
  </div>