<style>
  #about-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 50px 0;
    color: white;
    opacity: 0.5;
    transition: all 0.5s;
  }

  #about-us:hover {
    opacity: 1;
  }

  #about-us h1,
  #about-us p {
    width: 100%;
    text-align: center;
    align-self: center;
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
  }

  #about-us h1 {
    font-size: 2em;
  }

  #about-us p {
    font-weight: 500;
  }

  #about-us p:nth-child(3) {
    width: 55%;
  }

  #about-us p:nth-child(4),
  #about-us p:nth-child(5) {
    width: 60%;
  }

  #about-us p:nth-child(6) {
    width: 40%;
    font-size: 1.01em;
  }
  
</style>

<div id="about-us">

  <h1>About Us</h1>


  <p><b>Welcome to the Oswego 14U Twisters!</b></p>


  <p>We are a dynamic and enthusiastic new team based in the
    <b>greater Oswego, IL area</b>,
    proudly fostering and developing young athletes through the
    <b>Plainfield Athletic Club (PAC)</b> system.
    Having just completed our inaugural
    <b>2024 Fall season</b>,
    we are excited to continue our travel softball journey.
  </p>


  <p>
    <b><i>Our mission is to create an inclusive and supportive environment where teamwork and personal growth are at the
        forefront.</i></b>
    We believe in the power of competitive play to not only
    <b><i>enhance athletic skills</i></b>
    but also to
    <b><i>build a strong spirit.</i></b>
    Our program is designed to help young athletes
    <b><i>hone their talents, form lasting friendships, and develop a love for the game</i></b>.
  </p>


  <p> Leading our team are

    <b>Coach Troy McCormick</b>,
    with three years of PAC coaching experience,

    <b>Coach Jackie Lopez</b>,
    who brings 30 years of softball expertise, including travel and collegiate level experience and

    <b>Coach Joel Lopez</b>
    with his tenure as a softball coach and baseball player.

  </p>


  <p> We can't wait to continue to support our girls' athletic journeys and build a softball team that champions
    sportsmanship and personal growth!
  </p>


</div>