<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(1000px);
    }
  }

  div.eichs-container {
    width: 100%;
    height: calc(100vh - 200px);
    background: white;
  }

  div.eichs-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.word_banner {
    animation: scroll 30s linear infinite;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }

  div.word {
    background: red;
    display: inline-block;
    width: auto;
    color: white;
    font-weight: 1000;
    white-space: nowrap;
    padding: 0 1em;
  }

  div.row {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 20px;
  }

  div.store {
    display: flex;
    flex-direction: column;
    align-self: last baseline;
  }

  div.location {
    text-align: center;
    font-weight: 1000;
  }

  div.phone {
    text-align: center;
    font-weight: 1000;
  }

  div.picture {
    position: relative;
    width: 100%;
    height: 100%;
  }

  div.picture img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }

  div.banner {}

  div.banner a {}

  div.banner a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .phone {
    text-decoration: none;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

  }

  a.phone:hover {
    font-size: 1.5rem;
    color: red;
  }
</style>


{% macro word_banner() %}
{% set words = [
'Screen Printing.',
'Sporting Equipment.',
'Embroidery.',
'Spirit Wear.',
'Heat Press.',
'Trophies & Awards.',
'Logo Design.',
"Eich's Complex",
'P.E. Uniforms.',
'BASEBALL.',
'SOFTBALL.',
'BASKETBALL.',
'SOCCER.',
'SWIMMING.',
'VOLLEYBALL.'
]
%}

<div class="word_banner">
  {% for word in words %}
  <div class="word">{{ word }}</div>
  {% endfor %}
</div>
{% endmacro %}

<div class="eichs-container">

  <div class="eichs-layout">

    {{ word_banner() }}

    <div class="row">

      <div class="store">
        <a class="phone" href="tel:8154363771">
          <div class="location">Plainfield, IL</div>
          <div class="phone">815-436-3771</div>
          <div class="picture">
            <img src="{{ url_for('static', filename='images/eichs_sports_plainfield.png') }}">
          </div>
        </a>
      </div>

      <div class="banner">
        <a href="https://eichssports.chipply.com/twisterssoftballmccormick/?action=viewall">
          <img src="{{ url_for('static', filename='images/eichs_sports.png') }}">
        </a>
      </div>

      <div class="store">
        <a class="phone" href="tel:6302575836">
          <div class="location">Lemont, IL</div>
          <div class="phone">630-257-5836</div>
          <div class="picture">
            <img src="{{ url_for('static', filename='images/eichs_sports_lemont.png') }}">
          </div>
        </a>
      </div>

    </div>

    {{ word_banner() }}

  </div>

</div>