{% extends "base.html" %}

{% block stylesheet %}
<link href="static/css/meet_the_coaches.css" rel="stylesheet">
{% endblock %}

<style>
  .transparent-bg::before { 
      background-image: url("{{url_for('static', filename='images/background/Daygame_background.jpg')}}"); 
  }
</style>

{% block content %}

{% import "macros.jinja" as macros %}

<div class="__container__ transparent-bg">

  <div class="__meet_the_coaches__ transparent-bg">

    <h2>Plainfield Twisters' Coaches</h2>

    <div class="__row__">
      {% for coach in coaches[:3] %}
        {{ macros.create_coach(coach) }}
      {% endfor %}
    </div>

    {% include 'about_us.html' %}

  </div>

  <div class="__special_mentions__">

    <h2>~ Special Mentions ~</h2>

    <div class="__row__">
      {% for coach in coaches[3:] %}
        {{ macros.create_coach(coach) }}
      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}